<div class="pt-50 pb-32.5 px-6 bg-neutral-gray">
  <div class="w-full flex justify-center px-6">
    <div class="w-180 text-center">
      <h1 class="mb-4">Faire une résevation</h1>
      <p class="text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        aperiam ab, libero debitis at cumque assumenda tempora illum nihil?
      </p>
    </div>
  </div>
</div>
<div class="pt-42 flex justify-center">
  <div class="w-180 mx-6">
    <h2 class="mb-4">Faire une réservation maintenant</h2>
    <p class="text-secondary">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aperiam
      ab, libero debitis at cumque assumenda tempora illum nihil?
    </p>
    <div class="mt-12 mb-4 px-12 py-17">
      <div>

        <!-- calendar template style -->
        <div class="max-h-106 w-full h-96 text-sm"> 
          <div class="mb-5 flex justify-between">
            <div class="text-primary">January 2022</div>
            <div class="text-secondary">
              <div class="rounded-full hover:bg-neutral-gray"></div>
            </div>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
