<div class="flex justify-center items-center px-6 pt-40 pb-24">
    <div class="flex flex-col w-full max-w-2xl text-center bg-white px-16 py-12">
        <div class="text-center">
            <div class="text-[#eba37a] text-[180px] font-bold leading-[160px]">404</div>
            <h2>Page introuvable</h2>
            <p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
            <div class="mt-12">
                <a routerLink="/" class="button-primary">Revenir à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>