<div class="w-auto h-80 flex gap-6 text-primary">
  <div class="w-17 h-full bg-slate-200 select-none z-0">
    <div
      class="w-full h-20 bg-stone-300 flex flex-col justify-between text-center text-sm relative"
    >
      <p class="m-0 p-0 relative -top-2.5">- 12 : 00 -</p>
      <p class="m-0 p-0 relative top-2.5 z-10">- 14 : 00 -</p>
    </div>
    <div
      class="w-full h-30 bg-slate-600 flex flex-col justify-between text-center text-sm relative"
    >
      <p class="m-0 p-0 absolute -bottom-2.5 z-10">- 15 : 45 -</p>
    </div>
    <div
      class="w-full h-10 bg-transparent flex flex-col justify-between text-center text-sm relative"
    >
      <p class="m-0 p-0 absolute -bottom-2.5 z-10">- 16 : 10 -</p>
    </div>
    <div
      class="w-full h-16 bg-tumbleweed flex flex-col justify-between text-center text-sm relative"
    >
      <p class="m-0 p-0 absolute -bottom-2.5 z-10">- 16 : 45 -</p>
    </div>
  </div>
  <div class="w-50 h-80 bg-neutral-gray rounded-md relative">
    <div class="w-50 h-20 bg-stone-300 relative"></div>
    <div class="w-50 h-30 bg-slate-600 relative"></div>
    <div class="w-50 h-10 bg-transparent relative"></div>
    <div class="w-50 h-16 bg-tumbleweed relative"></div>
  </div>
</div>