@if (cursorInterval && !disabled) {
<div
  class="w-80 h-80 flex gap-6 text-primary"
  id="timepickerParent"
  #timepickerParent
>
  <div class="w-24 h-full relative bg-slate-500">
    @for (nonAvailableHour of nonAvailableHours; track $index) {
    <p
      class="w-full absolute m-0 p-0"
      [style.top]="'calc(' + nonAvailableHour.percentageStart + '% - 20px)'"
    >
      {{ nonAvailableHour.dailyPercentage }}
    </p>
    }
    <p class="absolute top-[calc(100%_-_15px)] m-0 p-0">-- end --</p>
  </div>
  <div class="w-50 h-full relative bg-slate-500">
    <p class="absolute top-[calc(0%_-_15px)] m-0 p-0">-- start --</p>
    @for (nonAvailableHour of nonAvailableHours; track $index) {
    <div
      class="w-full absolute m-0 p-0 bg-black"
      [style.top]="'calc(' + nonAvailableHour.percentageStart + '%)'"
      [style.height]="nonAvailableHour.dailyPercentage + '%'"
    ></div>
    }
    <div
      #timepickerCursor
      id="timepickerCursor"
      [ngClass]="{
        'w-full absolute m-0 p-0 bg-blue-600': true,
        'bg-red-300': isOverlappingNonAvailableHours()
      }"
      [style.height]="cursorInterval.dailyPercentage + '%'"
      [style.bottom.px]="getFrontendPosition()"
      cdkDragLockAxis="y"
      cdkDragBoundary="#timepickerParent"
      (cdkDragEnded)="onDragEnd($event)"
      [cdkDragFreeDragPosition]="position"
      cdkDrag
      ></div>
      <!-- [style.bottom]="'calc(' + (100-cursorInterval.percentageStart-cursorInterval.dailyPercentage) + '%)'" -->
  </div>
</div>
<div class="flex">
  <input type="time" [valueAsDate]="cursorInterval.start.local().toDate()" />
  <input type="time" [valueAsDate]="cursorInterval.end.local().toDate()" />
  <!-- {{ cursorInterval.start.toISOString() }}
  {{ cursorInterval.end.toISOString() }} -->
</div>
}@else {
<div
  class="w-80 h-80 flex gap-6 text-primary bg-red-500"
  id="timepickerParent"
  #timepickerParent
>
  @if (errorMessage) {
  {{ errorMessage }}
  }
</div>
}
