<div class="section bg-gray-50 border-t-[1px] border-gray-200">
    <div class="section-container">
        <div class="max-w-[640px] mx-auto">
            <div class="text-center">
                <div class="text-[#eba37a] lowercase mb-4">Localisation</div>
                <h2>Visit us today</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas egestas viverra turpis
                    habitant eu sociis fermentum felis.
                </p>
            </div>
        </div>
        <div class="relative flex flex-col items-stretch justify-end mt-12 min-h-[585px]">
            <div class="max-w-[880px] absolute top-auto left-auto right-0 bottom-0">
                <div class="relative overflow-hidden">
                    <img src="https://assets-global.website-files.com/60993dcfc8e83c7917ae8b70/60a4588a57e536103fd9e4d8_our-location-home-salon-webflow-template.jpeg"
                        alt="Our Salon Location - Salon X Webflow Template" 
                        class="z-0 w-[995px]">
                </div>
            </div>
            <div class="grid grid-cols-3 gap-x-6 mt-44 z-[1] max-w-[1030px] mr-8 relative bottom-20">
                <div class="bg-white flex flex-col justify-center items-center pt-12 pb-9">
                    <div class="flex flex-col justify-start text-center min-h-[175px]">
                        <div class="text-gray-900 text-[22px] font-bold leading-9 mb-4">Contact</div>
                        <a routerLink="tel:(487)870-1087" class="text-neutral-600 font-normal leading-5 mb-4">(487) 870 - 1087</a>
                        <a routerLink="mailto:contact@salon.com" class="text-neutral-600 font-normal leading-5">contact&#64;salon.com</a>
                    </div>
                    <a routerLink="/contact" class="text-gray-900 lowercase no-underline inline-block">
                        <div>Contact us</div>
                        <div class="w-full h-[2px] bg-gray-900"></div>
                    </a>
                </div>
                <div class="bg-white flex flex-col justify-center items-center pt-12 pb-9">
                    <div class="flex flex-col justify-start text-center min-h-[175px]">
                        <div class="text-gray-900 text-[22px] font-bold leading-9 mb-4">Hours</div>
                        <div class="mb-4">Mon to Fri: 7am - 6pm</div>
                        <div class="mb-4">Sat: 9am - 7pm</div>
                        <div class="mb-4">Sun: 9am - 6pm</div>
                    </div>
                    <a routerLink="/contact" class="text-gray-900 lowercase no-underline inline-block">
                        <div>Reserve now</div>
                        <div class="w-full h-[2px] bg-gray-900"></div>
                    </a>
                </div>
                <div class="bg-white flex flex-col justify-center items-center pt-12 pb-9">
                    <div class="flex flex-col justify-start text-center min-h-[175px]">
                        <div class="text-gray-900 text-[22px] font-bold leading-9 mb-4">Localisation</div>
                        <p>55 East Birchwood Ave.<br>Brooklyn, New York 11201,<br>United States</p>
                    </div>
                    <a routerLink="/locations" class="text-gray-900 lowercase no-underline inline-block">
                        <div>More locations</div>
                        <div class="w-full h-[2px] bg-gray-900"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-8">
            <a routerLink="/contact" class="button-primary mx-3 cursor-pointer">Make a reservation</a>
            <a routerLink="/locations" class="button-secondary mx-3 cursor-pointer">Browse locations</a>
        </div>
    </div>
</div>