<div class="" *ngIf="matchingService; else noMatchingService">
  <div class="max-w-300 mx-auto px-6">
    <div
      class="mt-25 pt-25 pb-27.5 px-6 grid grid-cols-[1fr_1.4fr] grid-rows-[auto] gap-x-12.5 items-center bg-neutral-gray"
    >
      <div>
        <h1>{{ matchingService.name }}</h1>
        <p class="text-secondary">{{ matchingService.description }}</p>
        <a class="mt-12" (click)="redirectToReservationPage()"
          ><button
            class="px-10 py-5 rounded-button bg-dark font-medium text-light hover:bg-orange-300 hover:duration-300 hover:opacity-75"
          >
            Faire une réservation
          </button></a
        >
      </div>
      <div class="aspect-[1.36]">
        <img
          class="aspect-[1.36]"
          [src]="matchingService.imgPath | imgPath"
          alt="{{ matchingService.slug }} image"
        />
      </div>
    </div>
    <div class="pb-50 flex justify-center">
      <div class="w-180">
        <h2 class="text-primary mb-6">À propos du service</h2>
        <p class="text-secondary mb-10">
          {{matchingService.description}}
        </p>
        <hr />
        <h2 class="text-primary my-6">Sous Services</h2>
        <p class="text-secondary mb-10">
          Voici la liste des sous services du site dont vous pourrez bénéficier. Prenez donc un rendez vous.
        </p>
        <div class="grid grid-cols-2 gap-x-25 gap-y-14">
          <div *ngFor="let subService of matchingService.subServices">
            <div class="mb-4.5 flex justify-between text-primary font-bold">
              <h4>{{ subService.name }}</h4>
              <div class="text-lg">{{ subService.price }} $</div>
            </div>
            <p class="text-secondary">
              {{ subService.description }} ({{ subService.duration }} min)
            </p>
          </div>
        </div>
        <a (click)="redirectToReservationPage()" class="mt-12"
          ><button
            class="px-10 py-5 rounded-button bg-dark font-medium text-light hover:bg-orange-300 hover:duration-300 hover:opacity-75"
          >
            Faire une réservation
          </button></a
        >
      </div>
    </div>
  </div>
</div>
<!-- TODO: give style to no matching service or redirect to 404 -->
<ng-template #noMatchingService> no matching service redirect to 404 </ng-template>
