<div class="full-card-container-dashboard">
  <div class="w-full flex justify-between items-center my-4">
    <p class="font-bold text-[18px]">Liste des calculs de bénéfices effectués</p>
    <button class="button-primary px-6 py-0 flex justify-start items-center h-10" (click)="openModal()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      Nouveau calcul
    </button>
  </div>

  <div class="w-full">
    <div class="relative overflow-x-auto h-[55vh] overflow-y-scroll">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 z-10 sticky top-0">
              <tr>
                  <th scope="col" class="px-6 py-3">
                    Désignation
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Mois
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Créer le
                  </th>
                  <th scope="col" class="px-6 py-3 w-40">
                    Actions
                  </th>
              </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b" *ngFor="let ebit of (this.ebitService.ebitList | async)">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                {{  ebit.designation }}
              </th>
              <td class="px-6 py-4">
                {{  this.listMonths[ebit.month] + ' ' + ebit.year }}
              </td>
              <td class="px-6 py-4">
                {{ ebit.ebitDate!.toString().split('.')[0].replace('T', ' ') }}
              </td>
              <td class="px-6 py-4">
                  <div class="flex justify-around">
                    <div (click)="openModal()">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                      </svg>
                    </div>
                  </div>
              </td>
          </tbody>
      </table>
    </div>

  </div>
</div>
