<div class="full-card-container-dashboard">
  <div class="w-full flex justify-between items-center my-4">
    <p class="font-bold text-[18px]">Liste des employés</p>
    <button class="button-primary px-6 py-0 flex justify-start items-center h-10" (click)="openModal()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      Nouvel employé
    </button>
  </div>

  <div class="w-full">
    <div class="relative overflow-x-auto h-[55vh] overflow-y-scroll">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 sticky top-0">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Image
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Nom
                  </th>
                  <th scope="col" class="px-6 py-3 w-40">
                      Actions
                  </th>
              </tr>
          </thead>
          <tbody>
              
          </tbody>
      </table>
    </div>

  </div>
</div>
