<div class="pt-50 pb-32.5 px-6 bg-neutral-gray">
  <div class="w-full flex justify-center px-6">
    <div class="w-180 text-center">
      <h1 class="mb-4">Mes Rendez-Vous</h1>
      <p class="text-secondary">
        La liste de tous vos rendez-vous en temps en en heures.
      </p>
    </div>
  </div>
</div>
<div class="w-full py-12.5 mb-30 px-6 text-primary">
  @if(appointmentsHistory && appointmentsHistory.length > 0){
  <ul>
    @for (appointment of appointmentsHistory; track $index) {
    <li>
      <p class="mb-2 text-primary">
        {{ appointment.appointmentDate | longDate }}
      </p>
      <div
        class="w-full h-auto grid grid-cols-[1fr_2px_2fr_2px_1fr] gap-6 bg-neutral-gray py-4 px-6"
      >
        <div class="max-w-50">
          <p class="m-0 mb-4 text-base">Horaire</p>
          <div class="py-3 px-3 font-medium">
            {{ appointment.appointmentDate | formatHHmm }}{{ "  -  "
            }}{{ appointment.appointmentDateEnd | formatHHmm }}
          </div>
        </div>
        <div class="border-r-2 border-solid border-gray-400"></div>
        <div class="grid grid-rows-1 justify-center">
          <div class="h-fit mb-4 flex items-center gap-3">
            <div class="rounded-md">
              <img
                class="w-8 h-9"
                src="https://assets-global.website-files.com/60993dcfc8e83c6e36ae8b81/60a5c1bcbc4f722522df1ec2_dana-cutts-salon-webflow-template.jpg"
                [alt]="
                  appointment.employee.firstname +
                  '_' +
                  appointment.employee.lastname
                "
              />
            </div>
            <div>
              <span class="font-light">Employé : </span>
              <span class="">{{
                appointment.employee.firstname +
                  " " +
                  appointment.employee.lastname
              }}</span>
            </div>
          </div>
          <div class="">
            <div>
              <span class="font-medium text-xl">{{
                appointment.subService.name
              }}</span>
              <span class="font-medium text-base">
                ({{ appointment.duration }} min)</span
              >
            </div>
          </div>
        </div>
        <div class="border-r-2 border-solid border-gray-400"></div>
        <div class="">
          <div class="">
            <span>Prix : </span><span> {{ appointment.price }} $ </span>
          </div>
          <div class="px-6 flex justify-center">
            <a routerLink="/mes-rendez-vous/{{ appointment._id }}/details">
              <button
                class="bg-middle-gray text-blue-400 rounded-lg mt-3 px-2.5 py-2"
              >
                Voir les détails
              </button>
            </a>
          </div>
        </div>
      </div>
    </li>
    }
  </ul>
  }@else if(appointmentsHistory && appointmentsHistory.length === 0) {
  <div class="w-full py-6">
    <p>Il semble que vous n'ayez pas encore réservé de rendez-vous</p>
    <div class="w-full flex justify-center">
      <button>
        <a class="mt-12" routerLink="/services"
          ><button
            class="px-10 py-5 rounded-button bg-dark font-medium text-light hover:bg-orange-300 hover:duration-300 hover:opacity-75"
          >
            Faire une réservation
          </button></a
        >
      </button>
    </div>
  </div>
  }@else {
  <ul>
    <li>
      <p class="mb-2 w-10 rounded-md text-primary bg-middle-gray animate-pulse"></p>
      <div
        class="w-full h-auto grid grid-cols-[1fr_2px_2fr_2px_1fr] gap-6 bg-neutral-gray py-4 px-6"
      >
        <div class="max-w-50">
          <p class="m-0 mb-4 text-base">Horaire</p>
          <div class="py-3 px-3 font-medium bg-middle-gray rounded-md animate-pulse"></div>
        </div>
        <div class="border-r-2 border-solid border-gray-400"></div>
        <div class="grid grid-rows-1 justify-center">
          <div class="h-fit mb-4 flex items-center gap-3">
            <div class="rounded-md w-8 h-9 bg-middle-gray  animate-pulse"></div>
            <div class="bg-middle-gray rounded-md animate-pulse"></div>
          </div>
          <div class=""></div>
        </div>
        <div class="border-r-2 border-solid border-gray-400"></div>
        <div class="">
          <div class="bg-middle-gray rounded-md animate-pulse">
            <span></span><span></span>
          </div>
          <div class="px-6 flex justify-center">
            <button
              class="bg-middle-gray text-blue-400 rounded-lg mt-3 px-2.5 py-2 animate-pulse"
            ></button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  }
</div>
