<div class="section">
  <div class="section-container">
    <div class="grid grid-cols-2 gap-x-12">
      <div class="relative overflow-hidden">
        <img
          src="https://assets-global.website-files.com/60993dcfc8e83c7917ae8b70/60a310a468f7548f3e7197cd_why-salon-webflow-template-salon.jpeg"
          alt="Why Salon"
        />
      </div>
      <div class="flex items-center">
        <div>
          <div class="text-[#eba37a] lowercase mb-4">Pourquoi choisir notre salon?</div>
          <h2 class="custom-h2">
            Nous sommes plus qu'un salon de beauté, nous sommes un endroit où vous pouvez vous détendre et vous amuser.
          </h2>
          <p>
            Chez Notre Oasis Beauté, nous sommes bien plus qu’un simple salon de
            beauté. Nous sommes un lieu où vous pouvez vous détendre, vous
            ressourcer et vous offrir des moments de bien-être. Notre équipe de
            professionnels dévoués vous accueille dans un cadre apaisant, où
            chaque soin est conçu pour vous faire sentir belle et revitalisée.
            Que ce soit pour une manucure, un massage relaxant, ou un soin du
            visage, nous mettons tout en œuvre pour que vous repartiez avec le
            sourire et l’envie de revenir. Venez profiter de notre expertise et
            laissez-vous choyer dans notre havre de sérénité.
          </p>
          <br />
          <div class="flex items-center">
            <a routerLink="/about" class="button-primary mx-3 cursor-pointer"
              >À PROPOS</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
