<div class="section bg-gray-50">
    <div class="section-container">
        <div class="max-w-[640px] mx-auto">
            <div class="text-center">
                <div class="text-[#eba37a] lowercase mb-4">Nos Services</div>
                <h2>Notre gamme de services de beauté</h2>
                <p>
                   Découvrez notre gamme de soins de beauté exclusifs pour sublimer votre élégance naturelle.
                </p>
            </div>
        </div>
        <div>
            <div class="w-auto max-w-[590px] z-[1] h-full whitespace-nowrap block relative left-0 right-0">
                <div class="mr-6 align-top size-full whitespace-normal text-left inline-block relative">
                    <div>
                        <div>
                            <div>
                                <a class="services-card w-inline-block">
                                    <div class="overflow-hidden">
                                        <img 
                                            src="https://assets-global.website-files.com/60993dcfc8e83c6e36ae8b81/60a5aef88e07303a3df5cd5b_makeup-salon-webflow-template.jpg"
                                            alt="Makeup"
                                            class="service-image-card">
                                    </div>
                                    <div class="z-[1] max-w-[90%] bg-white mt-[-128px] pb-12 px-10 relative">
                                        <img
                                            src="https://assets-global.website-files.com/60993dcfc8e83c6e36ae8b81/60a5ae4d04bd07ad7a05df7e_makeup-icon-salon-webflow-template.svg"
                                            loading="lazy" 
                                            alt="" 
                                            class="mt-[-43px] mb-[18px]">
                                        <h3>Makeup</h3>
                                        <p class="mb-8">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                            labore.
                                        </p>
                                        <div class="text-gray-900 lowercase no-underline inline-block">
                                            <div>View Service</div>
                                            <div class="w-full h-[2px] bg-gray-900"></div>
                                        </div>
                                    </div>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div>Slide 1 of 1.</div>
            </div>
            <div class="arrow-container left w-slider-arrow-left">
                <div class="arrow-icon w-icon-slider-left"></div>
            </div>
            <div class="arrow-container right w-slider-arrow-right">
                <div class="arrow-icon w-icon-slider-right"></div>
            </div>
        </div>
        <div class="flex justify-center mt-8">
            <a routerLink="/" class="button-primary mx-3 cursor-pointer">Faire une réservation</a>
            <a routerLink="/services" class="button-secondary mx-3 cursor-pointer">Nos Services</a>
        </div>
    </div>
</div>