<div class="absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center">
  <div class="w-9/12 grid grid-cols-2 border bg-white py-10">
    <div class="w-full border-r border-gray-200 my-5">
      <div class="flex flex-col justify-center items-center size-full">
        <div>
          <img src="assets/img/shortcut-icon.svg" class="size-40" alt="logo">
          <div class="text-center text-[52px] font-bold text-gray-900 mt-5">manja</div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="flex flex-col w-full text-center px-20 py-16">
        <form [formGroup]="this.loginForm" (ngSubmit)="submitLoginForm()">
            <h2 class="mb-10">Login</h2>
            <div class="text-left mb-6">
                <input
                    type="text"
                    class="input"
                    [class.error]="fieldHasErrorWrapper(this.loginForm, 'email', 'required')"
                    formControlName="email"
                    placeholder="email"
                    [title]="'admin: '+DEFAULT_ADMIN_LOGIN+' ; employee: '+DEFAULT_EMPLOYEE_LOGIN"  
                  >
                @if (fieldHasErrorWrapper(this.loginForm, 'email', 'required')) {
                  <div class="msg-invalidated-input"> Veuillez renseigner ce champ</div>
                }
            </div>
            <div class="text-left mb-6">
                <input
                    type="password"
                    class="input"
                    [class.error]="fieldHasErrorWrapper(this.loginForm, 'password', 'required')"
                    formControlName="password"
                    placeholder="mot de passe"
                    [title]="'admin: '+DEFAULT_ADMIN_PASSWORD+' ; employee: '+DEFAULT_EMPLOYEE_PASSWORD"  
                  >
                @if (fieldHasErrorWrapper(this.loginForm, 'password', 'required')) {
                      <div class="msg-invalidated-input"> Veuillez renseigner ce champ</div>
                }
            </div>

            @if (this.userService.errorMessage != "") {
              <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md mb-10" role="alert">
                  <div class="flex">
                      <div class="py-1 pr-4">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                          </svg>
                      </div>
                      <div>
                          {{ this.userService.errorMessage }}
                      </div>
                  </div>
              </div>
            }

            @if (!this.loginFormSubmitIsLoading) {
                <input
                type="submit"
                class="button-primary large w-full mb-8 cursor-pointer"
                value="Se connecter">
            } @else {
                <button class="button-primary large w-full mb-8 cursor-default disabled:opacity-75 hover:bg-gray-900" [disabled]="true">
                    <div
                        class="inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                        role="status">
                        <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Connexion...</span>
                    </div>
                </button>
            }
        </form>
      </div>
    </div>
  </div>
</div>
