<div class="w-full h-full text-primary text-sm">
  <div class="grid grid-cols-[3fr_2fr]">
    <div class="pr-17">
      <div class="">
        <h1 class="text-lg text-primary">
          Tâches d' {{ dailyTaskDate | longDate }}
        </h1>
      </div>
      @if(dailyTaskDetails){<div>
        <p>Nombre de tâches assignée: {{dailyTaskDetails.taskTotal}}</p>
        <p>Taches réalisées: {{dailyTaskDetails.taskDone}} sur {{dailyTaskDetails.taskTotal}}</p>
        <p>Total heures: {{dailyTaskDetails.totalDoneDuration//60}} h {{dailyTaskDetails.totalDoneDuration%60}} min</p>
        <p>Comission perçues : {{dailyTaskDetails.totalReceivedCommission}} $</p>
        <h3 class="mt-6">Commissions :</h3>
        <div class="mr-6">
          <table class="w-full table-fixed">
            <thead>
              <tr>
                <th>Horaire</th>
                <th>Montant reçu</th>
                <!-- <th>Montant Espéré</th> -->
              </tr>
            </thead>
            <tbody>
              @for(appointment of dailyTaskDetails.appointments; track $index){<tr>
                <td>{{appointment.appointmentDate | formatHHmm}} - {{appointment.appointmentDateEnd | formatHHmm}}</td>
                <td class="float-right">{{appointment.commission * appointment.price}} $</td>
              </tr>}
              <hr />
              <tr>
                <td>Total:</td>
                <td class="float-right">{{dailyTaskDetails.totalReceivedCommission}} $ / {{dailyTaskDetails.totalExpectedComission}} $</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>}@else {
        Pas de tâche pour aujourd'hui
      }
    </div>

    <div class="relative left-10">
      <div
        class="absolute -left-5 w-1 h-full border-r-2 border-dashed border-dark-gray"
      ></div>
      @for (appointment of dailyTaskDetails?.appointments; track $index){
      <div class="mb-10">
        <div
          class="w-[90%] h-30 rounded-md bg-middle-gray shadow-md shadow-gray-400 relative text-sm"
        >
          <div
            class="absolute w-10 h-full -left-14 border-r-2 border-solid border-dark-gray"
          >
            <div
              class="size-4 absolute -top-2 -right-2.5 rounded-full border-2 border-dark-gray bg-blue-200"
            ></div>
            <div
              class="size-4 absolute -bottom-2 -right-2.5 rounded-full border-2 border-dark-gray bg-blue-200"
            ></div>
            <div class="absolute -top-2.5 -left-3">
              {{ appointment.appointmentDate | formatHHmm }}
            </div>
            <div class="absolute -bottom-2.5 -left-3">
              {{ appointment.appointmentDateEnd | formatHHmm }}
            </div>
          </div>
          <div class="w-full h-full px-6 pt-6 pb-6.5">
            <p class="m-0 p-0 pb-2.5 font-medium">
              {{ appointment.subService.name }}
            </p>
            <p class="m-0 p-0 pb-2.5">{{ appointment.client }}</p>
            <p class="m-0 p-0 pb-2.5 font-medium">
              {{ appointment.status | appointmentStatus }}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
