<div *ngIf="this.showLoader" class="absolute top-0 bottom-0 left-0 right-0 z-[10000] bg-gray-900 opacity-80 flex justify-center items-center">
  <div class="w-50">
    <div class="w-full text-center">
    </div>
    <div class="w-full text-center">
      <div class="lds-beat">
        <div>
          <img src="assets/img/shortcut-icon.svg" alt="logo" class="invert w-30">
        </div>
      </div>
    </div>
    <p class="w-full text-center text-white lowercase">Veuillez patienter . . .</p>
  </div>
</div>
