<footer class="bg-white pt-16 border-t-[1px] border-gray-200">
    <div class="section-container">
        <div class="grid grid-cols-[1fr,1.4fr] gap-x-[100px] pb-14">
            <div>
                <a routerLink="/" class="block w-[192px] mb-5 transition-all duration-300 hover:scale-95">
                    <img src="assets/img/logo.svg" alt="Logo">
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat tincidunt morbi pretium.</p>
            </div>
            <div>
                <div>
                    <form>
                        <label for="email" class="block text-gray-900 mb-5 font-medium">Subscribe to our newsletter</label>
                        <div class="relative">
                            <input 
                                class="w-full h-15 rounded-[100px] mb-0 px-6 py-3 text-[18px] transition-all duration-300 bg-gray-100 border-[1px] border-gray-300 hover:border-[#eba37a] hover:bg-white  lowercase"
                                name="email"
                                placeholder="Email Address" 
                                type="email" 
                                required>
                            <input 
                                type="submit"
                                class="button-primary absolute top-1 right-1 bottom-1 left-auto" 
                                value="Subscribe">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-[1.4fr,1.3fr,1.2fr,1fr] py-24 border-t-[1px] border-gray-200">
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Pages</div>
                <div class="flex">
                    <ul class="pl-0 list-none mr-10">
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a] active">Home</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">About</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Services</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Services Single</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Shop</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Shop Single</a>
                        </li>
                    </ul>
                    <ul class="pl-0 list-none">
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Blog</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="why-and-how-often-should-you-use-hand-/"
                                class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Blog Post</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Reservation</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Locations</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Utility Pages</div>
                <ul class="pl-0 list-none">
                    <li class="mb-4">
                        <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Start here</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Style guide</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">404 not found</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Password protected</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Licenses</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Changelog</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a] special">Browse More templates</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Contact</div>
                <ul class="footer-list">
                    <li class="mb-4">
                        <p>55 East Birchwood Ave.<br>Brooklyn, New York 11201,</p>
                    </li>
                    <li class="mb-4"><a routerLink="mailto:contact@salon.com"
                            class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">contact&#64;salon.com</a></li>
                    <li class="mb-4"><a routerLink="tel:(487)806-7204" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">(487) 806
                            - 7204</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Opening Hours</div>
                <ul class="footer-list">
                    <li class="mb-4">
                        <div>Mon to Fri: 7am - 6pm</div>
                    </li>
                    <li class="mb-4">
                        <div>Sat: 9am - 7pm</div>
                    </li>
                    <li class="mb-4">
                        <div>Sun: 9am - 6pm</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-[1fr,.5fr] gap-x-10 py-10 border-t-[1px] border-gray-200">
            <p>
                Copyright &copy; 2024
            </p>
        </div>
    </div>
</footer>