<div class="flex justify-between items-center">
    <p class="text-[18px] font-bold">Vos informations</p>

    <div class="cursor-pointer"  (click)="openModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
    </div>
</div>

<div class="w-full mt-4">
    <div class="flex justify-center items-center">
        <img class="rounded-full size-44" [src]="this.profileImg" alt="{{ (this.userService.currentUser | async)?.username }}">
    </div>
    <p class="text-center text-[16px] font-bold">{{ (this.userService.currentUser | async)?.username }}</p>
</div>

<div class="mt-12 px-4">
    <span class="mb-4"><b>Prénom:</b> {{ (this.userService.currentUser | async)?.firstname }}</span>
    <br>
    <span class="mb-4"><b>Nom:</b> {{ (this.userService.currentUser | async)?.lastname }}</span>
    <br>
    <span class="mb-4"><b>Email:</b> {{ (this.userService.currentUser | async)?.email }}</span>

    <br>
    <br>
    <span><b>Services asignés:</b></span>
    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside ml-4">
        <li *ngFor="let empSubService of this.empSubServices">
            {{ empSubService }}
        </li>
    </ul>
    <br>
</div>
