<div class="section first">
    <div class="section-container">
        <div class="grid grid-cols-[1.5fr,1fr] gap-x-4">
            <div class="max-w-[618px] z-[1]">
                <h1>Bienvenue</h1>
                <div class="mt-6">
                    <p>Révélez votre beauté intérieure et extérieure avec nos soins exclusifs. Bienvenue dans notre oasis de bien-être.</p>
                </div>
                <div class="mt-12 flex items-center">
                    <a class="button-primary mx-3 cursor-pointer">Faire une réservation</a>
                    <a (click)="redirectToListServices()" class="button-secondary mx-3 cursor-pointer">Nos Services</a>
                </div>
            </div>
            <div class="h-full flex items-center">
                <img src="https://assets-global.website-files.com/60993dcfc8e83c7917ae8b70/60a30557fb511169a483dfe5_beauty-salon-webflow-template.jpeg"
                    alt="Rich Text - Salon X Webflow Template"
                    class="z-0 w-[51%] object-cover absolute top-[130px] left-auto right-0">
            </div>
        </div>

        <div class="grid grid-cols-3 mt-44">
            <div class="details-center">
                <div class="text-neutral-800 text-[22px] font-bold leading-9 mb-4">Contact</div>
                <a class="text-neutral-600 font-normal leading-5 mb-4">(261) 34 - 649 90</a>
                <a class="text-neutral-600 font-normal leading-5">contact&#64;salon.com</a>
            </div>
            <div class="details-center center">
                <div class="text-neutral-800 text-[22px] font-bold leading-9 mb-4">Heures d'ouverture</div>
                <div class="mb-4">Du Lun au Ven: 8am - 6pm</div>
                <div class="mb-4">Sam: - </div>
                <div class="mb-4">Dim: - </div>
            </div>
            <div class="details-center">
                <div class="text-neutral-800 text-[22px] font-bold leading-9 mb-4">Lieu</div>
                <p>
                    22è Rue Ratsimandrava.
                    <br>
                    Amparibe, Antananarive 101,
                    <br>
                    Madagascar
                </p>
            </div>
        </div>
    </div>
</div>