
<div class="flex justify-center items-center px-6 pt-40 pb-24">
    <div class="flex flex-col w-full max-w-xl border-[1px] border-gray-200 text-center bg-white px-16 py-12">
        <form [formGroup]="this.loginForm" (ngSubmit)="submitLoginForm()">
            <h2 class="mb-10">Login</h2>
            <div class="text-left mb-6">
                <input 
                    type="text" 
                    class="input" 
                    [class.error]="fieldHasErrorWrapper(this.loginForm, 'username', 'required')" 
                    formControlName="username" 
                    placeholder="username ou email">
                @if (fieldHasErrorWrapper(this.loginForm, 'username', 'required')) {
                    <div class="msg-invalidated-input"> Veuillez renseigner ce champ</div>
                }
            </div>
            <div class="text-left mb-6">
                <input 
                    type="password" 
                    class="input" 
                    [class.error]="fieldHasErrorWrapper(this.loginForm, 'password', 'required')" 
                    formControlName="password" 
                    placeholder="mot de passe">
                @if (fieldHasErrorWrapper(this.loginForm, 'password', 'required')) {
                    <div class="msg-invalidated-input"> Veuillez renseigner ce champ</div>
                }
            </div>

            @if (this.showErrorLoginForm) {
                <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md mb-10" role="alert">
                    <div class="flex">
                        <div class="py-1 pr-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                            </svg>                            
                        </div>
                        <div>
                            username ou mot de passe invalide
                        </div>
                    </div>
                </div>
            }

            @if (!this.loginFormSubmitIsLoading) {
                <input 
                type="submit" 
                class="button-primary large w-full mb-8 cursor-pointer"
                value="Se connecter">
            } @else {
                <button class="button-primary large w-full mb-8 cursor-default disabled:opacity-75 hover:bg-gray-900" [disabled]="true">
                    <div
                        class="inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                        role="status">
                        <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Connexion...</span>
                    </div>
                </button>
            }
        </form>
        <p>vous n'avez pas de compte?&nbsp;&nbsp;<a routerLink="/inscription" class="text-blue-600">s'inscrire</a></p>
    </div>
</div>