<div class="absolute bg-transparent py-7 top-0 bottom-auto inset-x-0 z-[100]">
    <div class="max-w-[1200px] justify-between items-center mx-auto px-6">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <a routerLink="/" class="relative float-left text-slate-700 no-underline h-auto mr-8 pl-0">
                    <img [src]="this.logoUrl" alt="Logo" class="w-40 transition-transform duration-300 hover:scale-95">
                </a>
                <nav class="relative float-left">
                    <ul class="flex justify-end items-center mb-0 pl-0 list-none">
                        <li class="nav-item-wrapper">
                            <a routerLink="/accueil" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Accueil</a>
                        </li>
                        <li class="nav-item-wrapper">
                            <div class="block relative text-left mx-auto z-50">
                                <div class="dropdown-toggle" (click)="openDropdown($event)">
                                    <div class="text-neutral-800 lowercase p-0 text-[18px] leading-loose no-underline hover:text-[#eba37a]">Services</div>
                                    <img
                                        src="assets/img/dropdown-arrow.svg"
                                        loading="lazy"
                                        alt="Chevron"
                                        class="dropdown-arrow">
                                </div>
                                <nav class="dropdown-navbar-container dropdown-list">
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Makeup</a>
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Coiffure</a>
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Épilation</a>
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Massages</a>
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Ongles</a>
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Soins du visage</a>
                                </nav>
                            </div>
                        </li>
                        <li class="nav-item-wrapper">
                            <a routerLink="/a-propos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">À propos</a>
                        </li>
                        <li class="nav-item-wrapper">
                            <div class="block relative text-left mx-auto z-50">
                                <div class="dropdown-toggle" (click)="openDropdown($event)">
                                    <div class="text-neutral-800 lowercase p-0 text-[18px] leading-loose no-underline hover:text-[#eba37a]">Pages</div>
                                    <img
                                        src="assets/img/dropdown-arrow.svg"
                                        loading="lazy"
                                        alt="Chevron"
                                        class="dropdown-arrow">
                                </div>
                                <nav class="dropdown-navbar-container dropdown-list">
                                    <a routerLink="/services" class="dropdown-nav-link inner dropdown-link">Nos Services</a>
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Promotions</a>
                                    <a routerLink="" class="dropdown-nav-link inner dropdown-link">Adresse</a>
                                </nav>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="flex items-center">
                <div *ifAuthenticated="false">
                    <div class="grid grid-cols-2">
                        <a routerLink="/login" class="flex justify-end items-center no-underline text-gray-900 lowercase pr-8 hover:-translate-y-[1px] hover:duration-300">
                            Se connecter
                        </a>
                        <a routerLink="/inscription" class="button-primary">
                            S'inscrire
                        </a>
                    </div>
                </div>
                <div *ifAuthenticated="true">
                    <div class="flex justify-between items-center gap-x-8">
                        <div class="block relative text-left mx-auto z-50">
                            <div class="dropdown-toggle" (click)="openDropdown($event)">
                                <div class="relative cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-900">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                                    </svg>
                                    <div class="absolute top-0 right-0">
                                        <span class="relative flex h-3 w-3">
                                            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#eba37a] opacity-75"></span>
                                            <span class="relative inline-flex rounded-full h-3 w-3 bg-[#eba37a]"></span>
                                        </span>
                                    </div>
                                </div>
                                <img
                                    src="assets/img/dropdown-arrow.svg"
                                    loading="lazy"
                                    alt="Chevron"
                                    class="dropdown-arrow hidden">
                            </div>
                            <nav class="dropdown-navbar-container dropdown-list right-0">
                                <span class="w-full">
                                    <div class="w-full flex justify-center border-b-[1px] border-gray-200 pb-5 font-bold">
                                        Notifications
                                    </div>
                                </span>
                            </nav>
                        </div>
                        <div class="block relative text-left mx-auto z-50">
                            <div class="dropdown-toggle" (click)="openDropdown($event)">
                                <div class="flex items-center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="w-6 h-6 text-gray-900 mr-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                    </svg>
                                    <div class="text-neutral-800 lowercase p-0 text-[18px] leading-loose no-underline">{{ (this.userService.currentUser | async)?.username }}</div>
                                </div>
                                <img
                                    src="assets/img/dropdown-arrow.svg"
                                    loading="lazy"
                                    alt="Chevron"
                                    class="dropdown-arrow">
                            </div>
                            <nav class="dropdown-navbar-container dropdown-list right-0">
                                <span class="w-full">
                                    <div class="w-full flex justify-center border-b-[1px] border-gray-200 pb-5 font-bold text-nowrap">
                                        Bienvenue, jean baptiste rakoto
                                    </div>
                                </span>
                                <a routerLink="" class="dropdown-nav-link inner dropdown-link text-nowrap relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        class="w-6 h-6 absolute left-0 top-1/2 -translate-y-1/2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                    </svg>
                                    <span class="ml-8">
                                        Historique de rendez-vous
                                    </span>
                                </a>
                                <span class="w-full">
                                    <div class="w-full flex justify-center border-t-[1px] border-gray-200">
                                        <button class="button-primary cursor-pointer mt-5">
                                            Se deconnecter
                                        </button>
                                    </div>
                                </span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
