<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <p>Bonjour <%= firstname %> <%= lastname %>,</p>
    <br>
    <p>Voici le mot de passe de votre compte pour le Dashboard des employés de notre salon: <%= password %></p>
    <br>
    <p>Cordialement</p>
    <br>
    <p>Manja - Salon de beauté</p>
    <p>Ceci est une Adresse</p>
    <p>034 XX XXX XX</p>
</body>
</html>