<footer class="bg-white pt-16 border-gray-200">
    <div class="section-container">
        <div class="grid grid-cols-[1.4fr,1.3fr,1.2fr,1fr] py-24 border-t-[1px] border-gray-200">
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Pages</div>
                <div class="flex">
                    <ul class="pl-0 list-none mr-10">
                        <li class="mb-4">
                            <a routerLink="/" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a] active">Accueil</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/mes-rendez-vous" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Rendez-vous</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/services" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Services</a>
                        </li>
                        
                    </ul>
                    <ul class="pl-0 list-none">
                        <li class="mb-4">
                            <a routerLink="/404" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">404 not found</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Pages Employé</div>
                <div class="flex">
                    <ul class="pl-0 list-none mr-10">
                        <li class="mb-4">
                            <a routerLink="/dashboard/profile" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a] active">Profil</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/dashboard/employee-appointments" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Rendez-vous</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/dashboard/employee-daily-tasks" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Tâches</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Pages Admin </div>
                <ul class="pl-0 list-none">
                    <li class="mb-4">
                        <a routerLink="/dashboard/services" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Services</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/dashboard/employees" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Employés</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/dashboard/statistiques" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Stats</a>
                    </li>
                    <li class="mb-4">
                        <a routerLink="/dashboard/calcul-des-benefices" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">Béféfices</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="text-gray-900 mb-8 font-medium leading-5">Contact</div>
                <ul class="footer-list">
                    <li class="mb-4">
                        <p>522è Rue Ratsimandrava.<br>Amparibe, Antananarive 101,</p>
                    </li>
                    <li class="mb-4"><a routerLink="mailto:contact@salon.com"
                            class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">contact&#64;salon.com</a></li>
                    <li class="mb-4"><a routerLink="tel:(487)806-7204" class="leading-5 font-normal no-underline lowercase hover:text-[#eba37a]">(261) 34 01 649 90</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-[1fr,.5fr] gap-x-10 py-10 border-t-[1px] border-gray-200">
            <p>
                Copyright &copy; 2024
            </p>
        </div>
    </div>
</footer>